table#schedule-table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  empty-cells: show;
  font-family: sans-serif;
}

#schedule-table td {  
  box-sizing: border-box;
  padding: 0;
  height: 3em;
}

#schedule-table td.event-col {
  width: 18%;
  text-align: center;
}

#schedule-table .time-col {
  width: 10%;
  text-align: center;
}


#schedule-table td.event-col:empty:hover {
  border: solid 2px #5C5C8A;
}

#schedule-table .event-parent {
  box-sizing: border-box;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
}

#schedule-table .event {
  border: outset 1px #666666;
  background-color: #EFEFEF;
  border-radius: 5px;
  margin: 0;
  padding: 0.2em;
  font-size: x-small;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  overflow: hidden; 
  height: 100%;
  width: 100%;
  display: table-cell;
  z-index: 10;
}

#schedule-table .event p {
  font-size: x-small;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.event-table {
  border: 0;
  display: table-cell;
  margin: 0;
  padding: 0;
}

#schedule-table .ghost {
  display: none;
  height: 200%;
  opacity: 0.5;
  z-index: 100;
}

#schedule-table .event:hover {
  box-shadow: 0 0 3px;
}

#schedule-table button {
  margin: 1em;
}

#schedule-table label {
  font-size: small;
}

#schedule-table form {
  margin: 1em;
}

#schedule-table .section-error {
  color: red;
}

#schedule-table .really-wants-section {
  background-color: #01DF01;
}

#schedule-table .really-wants-section {
  background-color: #01FF01;
}

#schedule-table .wants-section {
  background-color: #CFFFCF;
}

#schedule-table .ok-with-section {
  background-color: #EFEFEF;
}

#schedule-table .doesnt-like-section {
  background-color: #FFCFCF;
}

#schedule-table .really-dislikes-section {
  background-color: #FF1D1D;
}

#schedule-table .cant-make {
  border: outset 3px red;
  background-color: #EFEFEF;  
}

#schedule-table .event-control {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  cursor: hand;
  display: inline-block;
  font-weight: bold;
  height: 15px;
  width: 15px;
}

#schedule-table .event-control-panel {
  position: absolute;
  top: 0;
  right: 0;
}

/* 

  return "really-wants-section" if value >= 1.0
  return "wants-section" if 1.0 > value >= 0.75
  return "ok-with-section" if 0.75 > value >= 0.5
  return "doesnt-like-section" if 0.5 > value >= 0.25
  return "really-dislikes" if 0.25 > value > 0
  return "cant-make" if value == 0

  100% = 1 hour

  set top and height atributes to position
  the beginning and end of the event, e.g:

  top: 25%; <-- starts at 15 minutes 
  height: 200%; <-- two hours long 

*/
